:root {
    --header-bg-color: #FFFFFF;
    --header-text-color: #212121;
    --second-hdr-text-color: #2196F3;
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --main-btn-color: #FFFFFF;
    --main-text-color: #757575;
    --main-bg-color: #E5E5E5;
    --second-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --footer-logo-color: #2196F3;
    --second-logo-color: #FFFFFF;
    --footer-text-color: #FFFFFF;
    --second-ft-text-color: color: rgba(255, 255, 255, 0.6);
}


body {
    font-family: "Roboto", sans-serif ;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*-----------header--------------*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    background-color: var(--header-bg-color);
}

.header-elements {
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;  
    text-decoration: none;
    margin-right: 93px;  
}

.header-logo-color {
    color: var(--second-hdr-text-color);
}



.header-list {
    display: flex;
    text-decoration: none;
}

.header-item {
    margin-right: 50px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link-active {   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
    text-decoration: none;
}

.header-link-active:hover {
    color: var(--second-hdr-text-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    color: var(--header-text-color);
    text-decoration: none;
}

.header-link:hover {
    color: var(--second-hdr-text-color);
}

.header-contacts-list {
    display: flex;
    margin: 0;
    list-style: none;
    text-decoration: none;
    margin-left: auto;
}

.contact-item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;   
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
}

.header-mail:hover {
    color: var(--second-hdr-text-color);  
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    margin-left: 50px;
}

.header-tel:hover {
    color: var(--second-hdr-text-color);
}

/*------------hero--------*/

h1,h2,h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}

.items-center {
    align-items: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-title {
    max-width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.hero-btn {
    background-color: var(--second-hdr-text-color);    
}

.hero-btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border: none;
    display: block;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    margin-top: 30px;
    letter-spacing: 0.06em;
    color: var(--main-btn-color);    
 }

/*----------------content------------*/

.content {
    background: var(--main-title-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}

.visually-hidden {
    display: none;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.content-list {
    display: flex;
}

.content-item {
    margin-right: 30px;
}

.content-item:last-child {
    margin-right: 0;
}

.content-item-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.content-text {
    width: 270px;
    height: 75px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color); 
}

/*-----------work----------*/

.work {
    background: var(--main-title-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-work {
    padding-top: 0;
}

.work-list {
    display: flex;
}

.section-work-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-title-color); 
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.work-icon {
    margin-right: 30px;
}

.work-icon:last-child {
    margin-right: 0;
}

/*-------------team-------------*/

.team {
    background: var(--second-bg-color);
}

.section-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
    text-align: center;
}

.team-list {
    display: flex;
}

.team-item {
    background: var(--main-title-color);
    margin-right: 30px;
}

.team-item:last-child {
    margin-right: 0;
}

.team-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    text-align: center;
}

.team-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 16px;
}


.manager-soc-list {
    display: flex;
    justify-content: center;

}

.manager-soc-item {
    margin-left: 10px;
}

.manager-soc-item:first-child {
    margin-left: 0;
}

.manager-soc-link {
    width: 44px;
    height: 44px;
    background-color: tomato;
    border-radius: 50%;
    display: block;
}

/*-------------footer------------*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--footer-bg-color);
}

.footer-logo {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-logo-color);
    text-decoration: none;
}

.footer-logo-color {
    color: var(--footer-logo-color);
}

.footer-list {
    padding: 0;
    margin: 0;
}

.footer-item {
    list-style: none;
}

.footer-item {
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0;
}

.footer-addres {
    margin-top: 20px;
}

.footer-text-addres {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em;
    color: var(--footer-text-color);  
}

.footer-text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-ft-text-color);
}

.footer-text {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}