:root{

    --header-bg-color: #FFFFFF;
    --header-text-color: #212121;
    --second-hdr-text-color: #2196F3;
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --main-btn-color: #FFFFFF;
    --main-text-color: #757575;
    --main-bg-color: #E5E5E5;
    --second-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --footer-logo-color: #2196F3;
    --second-logo-color: #FFFFFF;
    --footer-text-color: #FFFFFF;
    --second-ft-text-color: color: rgba(255, 255, 255, 0.6);
}


body {
    font-family: "Roboto", sans-serif ;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

/*-----------header--------------*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    background-color: var(--header-bg-color);
}

.header-elements {
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;  
    text-decoration: none;
    margin-right: 93px;  
}

.header-logo-color {
    color: var(--second-hdr-text-color);
}

.header-list {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.header-item {
    margin-right: 50px;
}

.header-item a{
    padding-top: 14px;
    padding-bottom: 14px;
}

.header-link-active {   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
    text-decoration: none;
}

.header-link-active:hover {
    color: var(--second-hdr-text-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    color: var(--header-text-color);
    text-decoration: none;
}

.header-link:hover {
    color: var(--second-hdr-text-color);
}

.header-contacts-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-left: auto;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
}

.header-mail:hover {
    color: var(--second-hdr-text-color);  
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    margin-left: 50px;
}

.header-tel:hover {
    color: var(--second-hdr-text-color);
}

/*------------hero--------*/

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer-bg-color);
}

.items-center {
    align-items: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-title {
    max-width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.hero-btn {
    background-color: var(--second-hdr-text-color);
    
}

 .hero-btn {
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    margin-top: 30px;
    letter-spacing: 0.06em;
    color: var(--main-btn-color);
    
 }

/*----------------content------------*/

 .content {
    background: var(--main-title-color);
 }

 .section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}

.visuali-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.content-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.content-item {
    margin-right: 30px;
}

.content-item-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
 }

.content-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color); 
}

/*-----------work----------*/

.work {
    background: var(--main-title-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-work-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-title-color); 
    text-align: center;
}

.work-icon {
    margin-right: 30px;
}

/*-------------team-------------*/
.team {
    background: var(--second-bg-color);
}

.section-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
    text-align: center;
}

.team-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.team-item {
    background: var(--main-title-color);
    margin-right: 30px;
}

.team-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    text-align: center;

}

.team-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-align: center;
}

/*-------------footer------------*/


.footer {
    background: var(--footer-bg-color);
}


.footer-logo {
    display: flex;
    padding-top: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-logo-color);
    text-decoration: none;
}

.footer-logo-color {
    color: var(--footer-logo-color);
}

.footer-list {
    padding: 0;
    padding-bottom: 60px;
    margin: 0;
}

.footer-item {
    list-style: none;
}

.footer-text-addres {
    margin-top: 20px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em;
    color: var(--footer-text-color);  
}

.footer-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-ft-text-color);
    margin-bottom: 9px;
}

.footer-text {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
